<div class="container-fluid mb-4">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4 justify-content-start">
        <img src="https://image.freepik.com/vector-gratis/plantilla-logo-degradado-forma-abstracta_23-2148204210.jpg" style="height: 150px">
      </div>
      <div class="col-md-8 justify-content-center">
        <h1 class="display-4">Mobi Effects</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link" routerLinkActive="active" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['home']" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
          <a class="nav-link" routerLinkActive="active" id="v-pills-profile-tab" data-toggle="pill" [routerLink]="['movies']" role="tab" aria-controls="v-pills-profile" aria-selected="false">Películas</a>
        </div>
      </div>
      <div class="col-9 border rounded">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
