<div class="container mb-4">
	<div class="row">
		<div class="col-12">
			<h1 class="title mt-4"> Películas </h1>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-12">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Película</th>
							<th>Director</th>
							<th>Productor</th>
							<th>Fecha de Estreno</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let movie of movies; let i = index">
							<td>{{movie.title}}</td>
							<td>{{movie.director}}</td>
							<td>{{movie.producer}}</td>
							<td>{{movie.release_date}}</td>
							<td><a class="btn btn-block btn-primary" [routerLink]="['/ships',i + 1]"> Naves </a> </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
